.head {
  color: #1976d2;
}

.response {
  padding: 10px;
  background-color: #c8e6c9;
}

.coding {
  padding: 10px;
  background-color: #e0e0e0;
}

.indentation-1 {
  margin: 20px;
}

.indentation-3 {
  margin: 60px;
}

div {
  margin: 20px 0;
}
